#---code requirements---
# packages to be installed
Pillow
opencv-python
opencv-contrib-python
numpy
mysql-connector-python
pyttsx3
groq
httpx[cli]
python-dotenv
# ----------------programming language---------
# python>=3.11.9
# tkinter


